.caritas-app {
  &-container {
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 16px;

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    a {
      text-decoration: none;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    margin: 0 -8px;
    padding: 0;
  }

  &-card-item {
    display: flex;
    padding: 0 8px 16px;

    @media (min-width: 640px) {
      width: 50%;
    }
    @media (min-width: 896px) {
      width: 33.3333%;
    }
  }

  &-card {
    position: relative;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 20px 40px -14px rgba(#000, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
  }

  &-card-image {
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 56.25%;
  }

  &-card-content {
    padding: 16px;
    background-color: $color-card-bg;
  }

  &-card-title {
    color: $color-text;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }

  &-card-text {
    color: $color-text;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 400;

    p {
      margin-bottom: 0;

      &:last-of-type {
        padding-bottom: 10px;
      }
    }

    &::after {
      content: "";
      background-image: linear-gradient(
        to bottom,
        rgba($color-black, 0),
        $color-card-bg,
        $color-card-bg
      );
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 100px;
      width: 100%;
    }
  }

  &-btn-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
  }

  &-btn {
    color: $color-white;
    padding: 10px 13px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 600;
    display: block;
    cursor: pointer;
    border: 1px solid rgba($color-white, 0.2);
    background: $color-accent;
    transition: all 0.15s ease-in-out;

    &:hover {
      color: $color-white;
      background-color: $color-accent-hover;
      border-color: $color-accent-hover;
      transition: all 0.15s ease-in-out;
    }
  }
}
